unified-inventory-rules @ git+https://github.com/joannayang371/unified-inventory-rules.git@28e2e3444fcf63a1b28a462a5e71f0a8b319dd4c
fastapi>=0.110
uvicorn>=0.27
pymongo>=4.6
pydantic>=2.6
pytest>=8.0
httpx>=0.27
